.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  background-color: #f1f5f9;
  width: 100vw;
  height: 15vh;
}
.logo {
  width: 200px;
}